- print is a inbuid function used to print the outputs

- we always work towards only one goal: **customer satisfaction**

- client does not know the pythion code 

- whateveer we want to ashow the output we need to display very clearly

- question yourselg : **Am i showing the output properly**

In [10]:
n1=100
n2=200
add=n1+n2
#add
print('the addition of 100 and 200 is 300')
print('the summation of 100 and 200 is 300')

the addition of 100 and 200 is 300
the summation of 100 and 200 is 300

In [ ]:
# the addition of 100 and 200 is 300

In [12]:
n1=100
n2=200
add=n1+n2
print(add)                     #triogger point
print('the addition of 100 and 200 is 300')
print('the summation of n1 and n2 is 300')

300
the addition of 100 and 200 is 300
the summation of n1 and n2 is 300

In [ ]:
# the write up :string quotes(red)
# 1000 2000 100 or 200
# stored in variable n1 and n2 (black)

In [ ]:
n1=1000
n2=2000
add=n1+n2
print('the addition of 100 and 200 is 300')   #second trigger point
print('the addition of 100 and 200 is 300')

In [2]:
print('hai')
print('hello')
print('hai','hello',100)
a=100
print('hai','hello',a)

hai
hello
hai hello 100
hai hello 100

In [7]:
n1=1000
n2=2000
add=n1+n2
print('the addition of n1 and n2 is add')   
print('the addition of',n1,'and',n2,'is',add)

the addition of n1 and n2 is add
the addition of 1000 and 2000 is 3000

  **format method**

In [14]:
n1=1000
n2=2000
add=n1+n2
print('the addition of 1000 and 2000 is 3000')  
print('the addition of {n1} and {n2} is {add}')
print('the addition of {} and  {} is {}'.format(n1,n2,add))

the addition of 1000 and 2000 is 3000
the addition of {n1} and {n2} is {add}
the addition of 1000 and  2000 is 3000

**f-string**

- very very easy and most used method

In [15]:
n1=100
n2=200
add=n1+n2
#print(add)                     
print('the addition of 100 and 200 is 300')
#print('the summation of n1 and n2 is 300')
print(f'the summation of {n1} and {n2} is {add}')
print(f'the summation of {n1} and {n2} is {add}')

the addition of 100 and 200 is 300
the summation of 100 and 200 is 300
the summation of 100 and 200 is 300

In [17]:
num1=100
num2=200
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
print(f'the subtraction of {num1} and {num2} is {sub}')
# print('the subtraction of {} and {} is {}'.format(num1,num2,sub))
print(f'the addition of {num1} and {num2} is {add}')
# print('the addition of {} and {}'.format(num1,num2,add))
print(f'the multiplication of {num1} and {num2} is {mul}')
# print('the multiplication of {} and {} is {}'.format(num1,num2,mul))
print(f'the division of {num1} and {num2} is {div}')
# print('the division of {} and {} is {}'.format(num1,num2,div))

the subtraction of 100 and 200 is -100
the addition of 100 and 200 is 300
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [51]:
h=10
b=20
area_of_triangle=0.5*b*h
print(f'the area of triangle {h} and {b} is {area_of_triangle}')
print('the area of triangle {}'.format(area_of_triangle))

the area of triangle 10 and 20 is 100.0
the area of triangle 100.0

In [ ]:
rupees=dollar*rate_of_conversion
average=person1+person2+persion3/3
area_of_circle=area_of_circle

In [1]:
import os 
os.getcwd()

'C:\\Users\\DELL'